.faq {
  overflow: hidden;
  // height: 30vh;
  background-size: cover;
  background-size: 100%;
  background-position-y: 70%;
  // background-position: center;
  background-attachment: fixed;
  // background-repeat: no-repeat;
  // background: rgba(98,17,11,1); /* red w/ opacity */
}

.faq-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}

.carole-nogueira-logo {
  height: 17.5rem;
  padding-bottom: 1rem;
}

.faq-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  // opacity: .7;
  h3 {
    color: white;
    font-family: $my-font;
    font-size: 24px;
    letter-spacing: 7px;
    text-align: center;
    line-height: 1.1;
    margin-top: 3%;
    margin-bottom: 1%;
  }
}

.faq-accordion {
  width: 500px;
}

.card-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.card-header a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  h5 {
    font-family: 'rawengulkbold';
    font-size: 20px;
    color: rgba(98,17,11,1);
    letter-spacing: 3px;
    // text-align: right;
    line-height: 1.1;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.chevron-down, .chevron-up {
  max-width: 24px;
}

#card-body-view {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  // flex: 0 65%;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
  p {
    font-family: $my-font;
    font-size: 16px;
    // text-align: justify;
    line-height: 1.2;
    opacity: .7;
    margin: 0;
  }

  /*object-fit: cover;*/
  .clicker {
    // margin-top: 1.25rem;
    // margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    // position: relative;
    height: 96px;
    border-radius: 4px;
    flex: 1 130%;
    overflow: hidden;
    // object-fit: cover;

    img {
      display: block;
      height: 200%;
      object-fit: cover;
      -webkit-transform: translate(0,-30%);
      -ms-transform: translate(0,-30%);
      transform: translate(0,-30%);
    }
  }
}

.card-body {
  flex: 0 65%;
  p {
    font-family: $my-font;
    font-size: 16px;
    // text-align: justify;
    line-height: 1.2;
    opacity: .7;
    margin: 0;
  }
  a {
    color: rgba(98,17,11,1);
    text-decoration: none;
  }
  & a:hover {
    font-family: 'rawengulkbold';
    color: rgba(98,17,11,1);
  }
}

@media (max-width: 768px) {
    .faq {
    background-position-y: 113%;
  }

  .carole-nogueira-logo {
    height: 13.5rem;
  }

  .faq-body {
    h3 {
      font-size: 21px;
      letter-spacing: 4px;
    }
  }

  .faq-accordion {
    width: 370px;
  }

  .card-header a {
    h5 {
      font-size: 17px;
      letter-spacing: 1px;
    }
  }

  .card-view {
      // display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
  }

  #card-body-view {
    /*object-fit: cover;*/
    .clicker {
      height: 134px;
      flex: 1 215%;
      img {
        // display: block;
        height: 150%;
        // object-fit: cover;
        -webkit-transform: translate(-7%,-15%);
        -ms-transform: translate(-7%,-15%);
        transform: translate(-7%,-15%);
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .faq {
    background-size: 210%;
    background-position-y: -26%;
  }

  .faq-container {
    // display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    margin: 7%;
  }

  .carole-nogueira-logo {
    // height: 13.5rem;
    padding-bottom: 0.5rem;
  }

  .faq-body {
    h3 {
      font-size: 21px;
      letter-spacing: 4px;
      margin-bottom: 5%;
    }
  }

  .faq-accordion {
    width: 350px;
  }

  .card-header {
    padding: 0.60rem 1rem;
  }

  .chevron-down, .chevron-up {
    max-width: 20px;
  }

  .card-view {
    // display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
  }

  #card-body-view {
    // flex-direction: column;
    /*object-fit: cover;*/
    .clicker {
      height: 154px;
      flex: 1 234%;
      img {
        // display: block;
        height: 135%;
        // object-fit: cover;
        -webkit-transform: translate(-9%,-10%);
        -ms-transform: translate(-9%,-10%);
        transform: translate(-9%,-10%);
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .faq {
    background-size: 210%;
    background-position-y: -26%;
  }

  .faq-container {
    // display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    margin: 7%;
  }

  .carole-nogueira-logo {
    // height: 13.5rem;
    padding-bottom: 0.5rem;
  }

  .faq-body {
    h3 {
      font-size: 21px;
      letter-spacing: 4px;
      margin-bottom: 5%;
    }
  }

  .faq-accordion {
    width: 320px;
  }
}
