.carole-nogueira-footer {
  height: 10vh;
  // background: rgba(250,250,250,.8); /* white w/ opacity */
  background: rgba(98,17,11,1); /* red w/ opacity */
}

.senorita-angel-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  // background: rgba(250,250,250,.8); /* white w/ opacity */
  // background: rgba(98,17,11,1); /* red w/ opacity */
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  opacity: .8;
  p {
    font-family: 'rawengulkbold';
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 0;
    // color: rgba(98,17,11,1);
    color: rgba(250,250,250,1);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
}

.icon {
  height: 16px;
}


.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  opacity: .8;
  p {
    font-family: 'rawengulkbold';
    font-size: 18px;
    // line-height: 1.5rem;
    letter-spacing: 1px;
    margin: 0;
    // color: rgba(98,17,11,1);
    color: rgba(250,250,250,1);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
}

#heart-icon {
  height: 16px;
  animation: myheartgoesboom 3s infinite;
}

@keyframes myheartgoesboom {
  50% {transform: scale(2.2, 2.2);}
}

#cn-icon {
  height: 40px;
}

@media (max-width: 768px) {
  .carole-nogueira-footer {
    height: 7vh;
  }


  .senorita-angel-container {
    justify-content: space-around;
    padding: 0 0;
  }

  .left p {
    font-size: 18px;
  }

  .right p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .senorita-angel-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgba(250,250,250,.8); /* white w/ opacity */
    // background: rgba(98,17,11,1); /* red w/ opacity */
  }

  .left {
    width: 210px;

    p {
      font-size: 16px;
      line-height: 1rem;
    }
  }

  .right {
    width: 190px;

    p {
      font-size: 16px;
      line-height: 1rem;
    }
  }

  .icon {
    height: 14px;
  }

  #heart-icon {
    height: 10px;
    animation: myheartgoesboom 3s infinite;
  }

  @keyframes myheartgoesboom {
    50% {transform: scale(2, 2);}
  }

  #cn-icon {
    height: 24px;
  }
}

@media (max-width: 400px) {
  .left {
    width: 194px;

    p {
      font-size: 14px;
      line-height: 1rem;
    }
  }

  .right {
    width: 168px;

    p {
      font-size: 14px;
    }
  }
}
