.portfolio-indicators {
  position: absolute;
  bottom: 2%;
  display: flex;
  // right: 0;
  // bottom: 0;
  // left: 0;
  z-index: 10;
  justify-content: center;
  padding-left: 0;
  // margin-right: 15%;
  // margin-left: 15%;
  list-style: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  // background-color: rgba(98,17,11, 1);
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  transition: background-color 0.6s ease;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.active, .dot:hover {
    background-color: white;
    opacity: 1;
    height: 20px;
    width: 20px;
    margin: 0 4px;
  }
}

@media only screen and (max-width: 768px) {
  // .portfolio-indicators {
  //   bottom: 5%;
  // }
}

@media only screen and (max-width: 576px) {
  .portfolio-indicators {
    position: relative;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    // background-color: rgba(98,17,11, 1);
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    transition: background-color 0.6s ease;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &.active, .dot:hover {
      background-color: white;
      opacity: 1;
      height: 20px;
      width: 20px;
      margin: 0 4px;
    }
  }
}


