---
title: Carole Nogueira Comportementaliste Équin | Des solutions pour une meilleure communication
---

<section class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>
</section>

<section class="about">
  <div class="about-container">
    <div id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/oeil_nueva_carole_nogueira_1575.jpg);">
      lien
    </div>

    <div class="cards">
      <div class="card-about-infos">
        <h1>CAROLE
        <br>NOGUEIRA</h1>
      </div>

      <div class="card-about-infos">
        <h3>COMPORTEMENTALISTE
          <br>ÉQUIN</h3>
        <p>Certifiée et spécialisée dans l’équitation éthologique en R+, mon objectif est de vous accompagner et de <strong>vous transmettre les clés</strong> afin de retrouver et d’<strong>aboutir à une relation harmonieuse entre vous et votre cheval</strong>.
        <br>Avec des méthodes simples et innovantes je vous guide vers une autonomie d’équitation en conscience en fonction de vos objectifs.
        </p>
      </div>

      <div class="card-about-infos">
        <h3>SOINS ÉNERGÉTIQUES
          <br>CHEVAL/CAVALIER</h3>
        <p>Ils consistent à faire circuler l’énergie harmonieusement dans tout le corps.
        Equilibrer le flux énergétique va permettre d’enlever les nœuds et stress autant mental que physique, l’harmonisation et la revitalisation du corps va permettre d’initier un processus d’auto-guérison.</p>
      </div>

      <div class="card-about-infos">
        <h3>ATELIERS</h3>
        <p>J’organise des ateliers dans votre écurie ou centre équestre à la journée ou demi-journée pour 5 personnes minimum. Tarif sur devis.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq" style="background-image: linear-gradient(rgba(98,17,11, 0), rgba(98,17,11, 1)), url(images/buffalo_sunset_carole_nogueira_1400.jpg);">
  <div class="faq-container">
    <div class="faq-body">
      <img src="images/cn_white_logo.png" class="carole-nogueira-logo" alt="logo Carole Nogueira  Comportementaliste équin">
      <h3>DES SOLUTIONS
        <br>POUR UNE MEILLEURE
        <br>COMMUNICATION
      </h3>
    </div>

      <!--Accordion wrapper-->
        <div class="faq-accordion" id="faq-accordion" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading1">
              <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse1" aria-expanded="false"
                aria-controls="collapse1">
                <h5 class="chevron-header">QUI SUIS-JE ?</h5>
                <div id="close-icon1">
                  <img src="images/chevron_down_cn.png" alt="chevron down red" class="chevron-down">
                </div>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1"
              data-parent="#faq-accordion">
              <div class="card-body">
                <p>Passionnée depuis l’enfance et cavalière depuis 45 ans, j’ai accompli mon rêve en achetant une pouliche de 15 mois qui à présent en a 19 ans.
                  <br>
                  Je l’ai éduquée. Nous évoluons toujours ensemble en balade, rando, treck, en filet puis en side et maintenant en cordelette.
                  Un bonheur au quotidien dont je ne me lasse jamais.
                  <br>
                  Il y a 3 ans, achat cette fois pour mon compagnon, d’un second cheval arrivé d’Espagne. Malmené par l’homme, il regroupe à lui seul tous les problèmes déviants que les chevaux peuvent manifester : ne pas se laisser attraper au pré, phobie du maréchal ferrant, tic à l’appui, ne pas monter en van, anxieux, sur l’œil…
                  <br>
                  <strong>A la recherche de solutions pour le rééduquer en douceur</strong> c’est tout naturellement que je me suis tournée vers <strong>la formation de comportementaliste équin de Coralie Fournier</strong>.
                  Ce cheval est devenu mon meilleur élève en travail en liberté, <strong>sa transformation est la preuve que tout est possible, même avec des cas désespérés !</strong>.
                  <br>
                  <!-- Cette formation m’a apportée une nouvelle vie avec de nouveaux projets. Une meilleure connaissance des chevaux et surtout de moi-même qui me permet une approche et un travail sur les chevaux avec une technique innovante. A présent je travaille tous les chevaux en liberté !
                  <br> -->
                  <strong>Aujourd'hui ma passion prend une nouvelle ampleur et se concrétise par l'envie de vous transmettre ces apprentissages véritables solutions pour une relation harmonieuse entre vous et votre cheval.</strong>

              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading2">
              <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                <h5 class="chevron-header">MES FORMATIONS</h5>
                <div id="close-icon2">
                  <img src="images/chevron_down_cn.png" alt="chevron down red" class="chevron-down">
                </div>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
              data-parent="#faq-accordion">
              <div class="card-body">
                <p>
                  <strong>• Comportementaliste équin :</strong>
                  <a href="https://www.equitalliance.eu" target="_blank" class="formation-link" role="button">
                    avec Coralie Fournier (www.equitalliance.eu)
                  </a>
                <br>
                  <strong>• Communication animale :</strong>
                  <a href="https://www.gillesgoncalves.com" target="_blank" class="formation-link" role="button">
                    lecture du vivant et traitements énergétiques avec Gilles Goncalves (www.gillesgoncalves.com)
                  </a>
                <br>
                  <strong>• Equitation classique :</strong> Galop 5
                <br>
                  <strong>• Equitation éthologique :</strong> savoir 5
                <br>
                  <strong>• Saddle fitting :</strong> stage initiation avec Thierry Civel
                <br>
                  <strong>• Ecole Légèreté de Philippe Karl :</strong> avec Sandra Ciano.
                <br>
                  <strong>• Réflexologie plantaire :</strong> école Mayfor (Espagne).
                </p>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading3">
              <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse3" aria-expanded="false"
                aria-controls="collapse3">
                <h5 class="chevron-header">LE RENFORCEMENT POSITIF</h5>
                <div id="close-icon3">
                  <img src="images/chevron_down_cn.png" alt="chevron down red" class="chevron-down">
                </div>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
              data-parent="#faq-accordion">
              <div class="card-body">
                <p>C’est une récompense que l’on donne quand il y a une bonne réponse de la part du cheval.
                  La motivation à recevoir va permettre un apprentissage en modifiant le comportement et l’émotion.
                  Ce n’est pas soudoyer le cheval mais au contraire, <strong>lui apprendre à réfléchir et à observer afin de trouver la bonne réponse pour recevoir sa récompense</strong>.
                </p>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading4">
              <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse4"
                aria-expanded="false" aria-controls="collapse4">
                <h5 class="chevron-header">LE CLICKER</h5>
                <div id="close-icon4">
                  <img src="images/chevron_down_cn.png" alt="chevron down red" class="chevron-down">
                </div>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapse4" class="collapse card-view" role="tabpanel" aria-labelledby="heading4"
              data-parent="#faq-accordion">
              <div class="card-body">
                <p><strong>ORIGINE :</strong>
                  Le clicker training a été inventé par le <strong>docteur skinner</strong> et transmis à <strong>Karen Mayfor</strong> qui le fera connaître au grand public en 1985.
                  Cette technique est utilisée par les entraîneurs de mammifères marins, les animaux sauvages, les chiens, alors pourquoi pas pour nos chevaux ?
                  <br>
                  L’entrainement au clicker est basé sur des connaissances scientifiques pour <strong>apprendre les comportements en utilisant le renforcement positif</strong>.
                </p>
              </div>
              <div id="card-body-view">
                <p><i>Petite boite en plastique avec une petite languette métallique qui émet un clic lorsque l’on appuie dessus.
                  <strong>Le clic désigne au cheval le comportement pour lequel il va être récompensé</strong>.</i>
                </p>
                <div class="clicker">
                  <img src="images/clicker_training_bggreen_carole_nogueira.jpg" alt="clicker training">
                </div>

              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading5">
              <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse5"
                aria-expanded="false" aria-controls="collapse5">
                <h5>POURQUOI FAIRE APPEL
                  <br>AUX SERVICES D’UN
                  <br>COMPORTEMENTALISTE EQUIN ?</h5>
                <div id="close-icon5">
                  <img src="images/chevron_down_cn.png" alt="chevron down red" class="chevron-down">
                </div>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5"
              data-parent="#faq-accordion">
              <div class="card-body">
                <p>Le comportementaliste équin est un spécialiste de la relation homme cheval.
                  <br>
                  Son objectif sera de venir désamorcer une situation qui s’est détériorée en aidant à rétablir une relation harmonieuse dans le respect de chacun.
                  <br>
                  <strong>Il est important que le propriétaire s’engage à continuer dans la logique de ce qui a été construit avec le comportementaliste.</strong></p>
                <br>
                <p>
                  • Créer ou renforcer le lien avec votre cheval.
                  <br>
                  • Désamorcer les comportements déviants (agressivité, ne se laisse pas attraper au pré, respect).
                  <br>
                  • Initiation au clicker.
                  <br>
                  • Monter en van.
                  <br>
                  • Eduquer en douceur.
                  <br>
                  • Travail en liberté.
                  <br>
                  • Désensibilisation en tout genre.
                  <br>
                  • Gestion des émotions pour le cavalier (chute, concours, compétitions).
                  <br>
                  • Communication animale.
                  <br>
                  • Equifeel.
                </p>
              </div>
            </div>
          </div>
          <!-- Accordion card -->
        </div>
        <!--/.Accordion wrapper-->
  </div>
</section>

<section class="main-wrapper" style="background-image: url(images/buffalo_nueva_carole_nogueira_1400.jpg);">
  <div class="wrapper">
    <div class="container-topRight">
      <h3>liberté !</h3>
      <p>Être à l’écoute pour le comprendre, tisser ce lien, créer cette complicité avec votre cheval.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="container-bottomLeft">
      <h3>émotion !</h3>
      <p>Lui donner envie de s'engager dans la séance, limiter les contraintes au maximum,
      s'amuser, avoir des résultats rapides et durables.</p>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="portfolio-container d-flex">
    <div id="portfolio-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/main_nueva_carole_nogueira_1575.jpg);">
          respect
    </div>
    <!-- Trigger the Modal : Images used to open the lightbox -->
    <div class="thumbnails d-flex flex-wrap">
      <div class="thumbnail-container" onclick="openModal();currentSlide(1, 0)">
        <img src="images/chevaux-pre-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="chevaux au prè">
        <div class="overlay">
          <div class="text">Conditions de vie</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(2, 0)">
        <img src="images/bache-buffalo-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="exercice de la bâche">
        <div class="overlay">
          <div class="text">Avoir le choix</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(3, 0)">
        <img src="images/cible-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval travaille à la cible">
        <div class="overlay">
          <div class="text">Baguette magique</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(4, 0)">
        <img src="images/toucher-poubelle-carole-nogueira.jpg" class="thumbnail" alt="cheval touche la poubelle">
        <div class="overlay">
          <div class="text">“Touche”</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(5, 0)">
        <img src="images/connexion-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="Chevaux suivent le cavalier">
        <div class="overlay">
          <div class="text">Connexion</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(6, 0)">
        <img src="images/ballon-jeu-chevaux-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="jeu de ballon avec deux chevaux">
        <div class="overlay">
          <div class="text">Ludique</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(7, 0)">
        <img src="images/lien-nueva-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval apprend en douceur">
        <div class="overlay">
          <div class="text">Lien</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(8, 0)">
        <img src="images/cordelette_nueva_thumbnail_carole_nogueira.jpg" class="thumbnail" alt="monter le cheval à cru">
        <div class="overlay">
          <div class="text">Cordelette</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(9, 0)">
        <img src="images/van-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Clicker</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(10, 0)">
        <img src="images/energetique-nueva-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Energétique</div>
        </div>
      </div>

    </div>

    <!-- The Carousel Modal -->
    <div id="myModal" class="modal-carousel">

      <!-- The Close Button -->
      <span class="close" onclick="closeModal()">&times;</span>

      <!--Controls-->
        <div class="controls-top">
          <a class="btn-chevron prev" onclick="plusSlides(-1, 0)"><img src="images/chevron_left_circle_white.png" alt="chevron left with circle white"></a>
          <a class="btn-chevron next" onclick="plusSlides(1, 0)"><img src="images/chevron_right_circle_white.png" alt="chevron right with circle white"></a>
        </div>
      <!--/.Controls-->

      <!-- Modal Content (The Image) -->
      <div class="modal-cards">

            <div class="Slides">
              <div class="view">
                <img src="images/chevaux-pre-carole-nogueira.jpg" class="image d-block w-100" alt="chevaux au pré">
              </div>
              <div class="figcaption scrollable">
                <h3>Conditions de vie</h3>
                <p>• Alimentation essentiellement fibreuse à volonté.
                  <br>• Espace pour se déplacer.
                  <br>• Présence et contact avec des congénères.
                  <br>• Enrichir sa vie.
                  <br>• Varier les exercices.
                  <br>• Varier les activités.
                  <br>• Travail en liberté.
                  <br>• Balades.
                </p>
              <div class="numbertext">1 / 10</div>
              </div>
            </div>

          <div class="Slides">
              <div class="view">
                <img src="images/bache-buffalo-carole-nogueira.jpg" class="image d-block w-100" alt="exercice de la bâche">
              </div>
              <div class="figcaption scrollable">
                <h3>Il n'y a pas de vérité sans liberté</h3>
                <p>LA BÂCHE DANS TOUTES SES DIMENSIONS
                  <br>Pourquoi ne pas lui laisser le choix ? « vous faire confiance ou fuir ».
                  <br>Quand la motivation à recevoir est plus forte que la peur tout devient plus simple !
                </p>
              <div class="numbertext">2 / 10</div>
              </div>
          </div>

          <div class="Slides">

              <div class="view">
                <img src="images/cible-etzan-carole-nogueira.jpg" class="image d-block w-100" alt="cheval travaille à la cible">
              </div>
              <div class="figcaption scrollable">
                <h3>La petite baguette magique</h3>
                <p>La cible est importante pour apprendre le « touche » qui va lui permettre par la suite de toucher
                  tous les monstres.
                  Elle indique également une direction, une allure.
                  Je l’utilise également pour apprendre la distance de sécurité.
                </p>
              <div class="numbertext">3 / 10</div>
              </div>
          </div>

          <div class="Slides">
            <div class="view">
              <img src="images/toucher-poubelle-carole-nogueira.jpg" class="image d-block w-100" alt="cheval touche la poubelle">
            </div>
            <div class="figcaption scrollable">
              <h3>Désensibilisation sur le terrain</h3>
              <p>Apprendre à affronter « les monstres » sur le terrain.
                Le travail à pied est important, il va permettre de renforcer le lien.
                Ce qui est acquis à pied le sera à cheval.
                Lui apprendre à sentir tous « les monstres » lui permettra par la suite d’affronter ses peurs au lieu de les fuir.
                Le mot « touche » prend toute son importance.
                Le passage de la route pour l’habituer aux voitures, camions, tracteurs.
                La plage, les vagues, rentrer dans l’eau, les algues qui attaquent les chevaux…
                Ensuite à cheval, rentrer petit à petit tout ces éléments dans son quotidien.
              </p>
            <div class="numbertext">4 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
              <img src="images/connexion-etzan-carole-nogueira.jpg" class="image d-block w-100" alt="buffalo plage">
            </div>
            <div class="figcaption scrollable">
              <h3>Miroir de nos émotions</h3>
              <p>Être dans la sensation très précise de son corps, grâce au retour à soi.
                Se connecter énergétiquement avec son cheval.
                Ne faire qu’un avec son cheval.
                Se bander les yeux facilite à monter en conscience.
                Cette façon d’être positionner intérieurement vous permettra de développer un lien énergétique entre vous et votre cheval.
              </p>
            <div class="numbertext">5 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
            <img src="images/ballon-jeu-chevaux-carole-nogueira.jpg" class="image d-block w-100" alt="jeu de ballon avec deux chevaux">
            </div>

            <div class="figcaption scrollable">
              <h3>Apprendre en s'amusant</h3>
              <p>Mettre du « fun » pour enrichir sa vie.
                Le travail devient ludique pour le cheval comme pour le cavalier.
                Lui permettre de s’exprimer dans le conditionnement opérant.
                Dynamiser une séance avec un cheval un peu mou mais également canaliser un cheval trop actif.
                Ballon, piscine, piquet.
              </p>
            <div class="numbertext">6 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
            <img src="images/lien-nueva-carole-nogueira.jpg" class="image d-block w-100" alt="cheval apprend en douceur">
            </div>
            <div class="figcaption scrollable">
              <h3>Éducation</h3>
              <p>Le seul lien efficace sera celui que vous tisserez entre vous et votre cheval
                Sans attache et sans pression pour un apprentissage tout en douceur.
                Faites -lui confiance et il vous fera confiance.
              </p>
            <div class="numbertext">7 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
            <img src="images/cordelette_nueva_carole_nogueira.jpg" class="image d-block w-100" alt="monter le cheval à cru">
            </div>
            <div class="figcaption scrollable">
              <h3>Le respect du cheval c’est la fondation de la Liberté (Gruss)</h3>
              <p>L’évolution du filet au licol à la cordelette.
                Monter en connexion permet une équitation en conscience pour un bonheur partagé avec son cheval.
              </p>
            <div class="numbertext">8 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
            <img src="images/van-carole-nogueira.jpg" class="image d-block w-100" alt="cheval monte dans le van">
            </div>
            <div class="figcaption scrollable">
              <h3>Demander souvent, se contenter de peu et récompenser beaucoup !</h3>
              <p> Le clicker va permettre de changer l’émotion du cheval.
                Le van va devenir agréable et confortable
                On va tellement renforcer le bon comportement que le problème va se désamorcer petit à petit.
                La patience et le calme sont de rigueur !
              </p>
            <div class="numbertext">9 / 10</div>
            </div>
          </div>

          <div class="Slides">
            <div class="view">
            <img src="images/energetique-nueva-carole-nogueira.jpg" class="image d-block w-100" alt="cheval monte dans le van">
            </div>
            <div class="figcaption scrollable">
              <h3>Soin énergétique</h3>
              <p>Il va permettre d’évacuer les énergies en les débloquant afin de faire circuler librement l’énergie
                dans tout le corps.
                Le corps va utiliser ses propres ressources pour déclencher une auto-guérison.
                On peut apercevoir immédiatement sur le cheval les signaux d’apaisement et de sérénité.
              </p>
            <div class="numbertext">10 / 10</div>
            </div>
          </div>

      </div>

      <!-- Indicators -->
      <ol class="portfolio-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="dot active" onclick="currentSlide(1, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="dot" onclick="currentSlide(2, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="dot" onclick="currentSlide(3, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="dot" onclick="currentSlide(4, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="4" class="dot" onclick="currentSlide(5, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="5" class="dot" onclick="currentSlide(6, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="6" class="dot" onclick="currentSlide(7, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="7" class="dot" onclick="currentSlide(8, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="8" class="dot" onclick="currentSlide(9, 0)"></li>
        <li data-target="#myCarousel" data-slide-to="9" class="dot" onclick="currentSlide(10, 0)"></li>
      </ol>
      <!--/.Indicators-->

    </div>
  </div>
</section>

<section id="myCarousel" class="portfolio-s-screen" data-ride="carousel">
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-chevron" onclick="plusSlides(-1, 1)"><img src="images/chevron_left_circle_white.png" alt="chevron left with circle white"></a>
    <a class="btn-chevron" onclick="plusSlides(1, 1)"><img src="images/chevron_right_circle_white.png" alt="chevron right with circle white"></a>
  </div>
  <!--/.Controls-->

  <!--Slides-->
  <div class="portfolio-s-screen-container d-flex" role="listbox">


          <div class="slide-s-screen">
            <div class="view-s-screen">
              <img src="images/chevaux-pre-carole-nogueira.jpg" class="image-s-screen" alt="chevaux au pré">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Conditions de vie</h3>
              <p>• Alimentation essentiellement fibreuse à volonté.
                <br>• Espace pour se déplacer.
                <br>• Présence et contact avec des congénères.
                <br>• Enrichir sa vie.
                <br>• Varier les exercices.
                <br>• Varier les activités.
                <br>• Travail en liberté.
                <br>• Balades.
              </p>
            <div class="numbertext">1 / 10</div>
            </div>
          </div>


          <div class="slide-s-screen">
              <div class="view-s-screen">
                <img src="images/bache-buffalo-carole-nogueira.jpg" class="image-s-screen" alt="exercice de la bâche">
              </div>
              <div class="figcaption-s-screen scrollable">
                <h3>Il n'y a pas de vérité sans liberté</h3>
                <p>LA BÂCHE DANS TOUTES SES DIMENSIONS
                  <br>Pourquoi ne pas lui laisser le choix ? « vous faire confiance ou fuir ».
                  <br>Quand la motivation à recevoir est plus forte que la peur tout devient plus simple !
                </p>
              <div class="numbertext">2 / 10</div>
              </div>
          </div>

          <div class="slide-s-screen">
              <div class="view-s-screen">
                <img src="images/cible-etzan-carole-nogueira.jpg" class="image-s-screen" alt="cheval travaille à la cible">
              </div>
              <div class="figcaption-s-screen scrollable">
                <h3>La petite baguette magique</h3>
                <p>La cible est importante pour apprendre le « touche » qui va lui permettre par la suite de toucher
                  tous les monstres.
                  Elle indique également une direction, une allure.
                  Je l’utilise également pour apprendre la distance de sécurité.
                </p>
              <div class="numbertext">3 / 10</div>
              </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
              <img src="images/toucher-poubelle-carole-nogueira.jpg" class="image-s-screen" alt="cheval touche la poubelle">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Désensibilisation sur le terrain</h3>
              <p>Apprendre à affronter « les monstres » sur le terrain.
                Le travail à pied est important, il va permettre de renforcer le lien.
                Ce qui est acquis à pied le sera à cheval.
                Lui apprendre à sentir tous « les monstres » lui permettra par la suite d’affronter ses peurs au lieu de les fuir.
                Le mot « touche » prend toute son importance.
                Le passage de la route pour l’habituer aux voitures, camions, tracteurs.
                La plage, les vagues, rentrer dans l’eau, les algues qui attaquent les chevaux…
                Ensuite à cheval, rentrer petit à petit tout ces éléments dans son quotidien.
              </p>
            <div class="numbertext">4 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
              <img src="images/connexion-etzan-carole-nogueira.jpg" class="image-s-screen" alt="buffalo plage">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Miroir de nos émotions</h3>
              <p>Être dans la sensation très précise de son corps, grâce au retour à soi.
                Se connecter énergétiquement avec son cheval.
                Ne faire qu’un avec son cheval.
                Se bander les yeux facilite à monter en conscience.
                Cette façon d’être positionner intérieurement vous permettra de développer un lien énergétique entre vous et votre cheval.
              </p>
            <div class="numbertext">5 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
            <img src="images/ballon-jeu-chevaux-carole-nogueira.jpg" class="image-s-screen" alt="jeu de ballon avec deux chevaux">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Apprendre en s'amusant</h3>
              <p>Mettre du « fun » pour enrichir sa vie.
                Le travail devient ludique pour le cheval comme pour le cavalier.
                Lui permettre de s’exprimer dans le conditionnement opérant.
                Dynamiser une séance avec un cheval un peu mou mais également canaliser un cheval trop actif.
                Ballon, piscine, piquet.
              </p>
            <div class="numbertext">6 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
            <img src="images/lien-nueva-carole-nogueira.jpg" class="image-s-screen" alt="cheval apprend en douceur">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Éducation</h3>
              <p>Le seul lien efficace sera celui que vous tisserez entre vous et votre cheval
                Sans attache et sans pression pour un apprentissage tout en douceur.
                Faites -lui confiance et il vous fera confiance.
              </p>
            <div class="numbertext">7 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
            <img src="images/cordelette_nueva_carole_nogueira.jpg" class="image-s-screen" alt="monter le cheval à cru">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Le respect du cheval c’est la fondation de la Liberté (Gruss)</h3>
              <p>L’évolution du filet au licol à la cordelette.
                Monter en connexion permet une équitation en conscience pour un bonheur partagé avec son cheval.
              </p>
            <div class="numbertext">8 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
            <img src="images/van-carole-nogueira.jpg" class="image-s-screen" alt="cheval monte dans le van">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Demander souvent, se contenter de peu et récompenser beaucoup !</h3>
              <p> Le clicker va permettre de changer l’émotion du cheval.
                Le van va devenir agréable et confortable
                On va tellement renforcer le bon comportement que le problème va se désamorcer petit à petit.
                La patience et le calme sont de rigueur !
              </p>
            <div class="numbertext">9 / 10</div>
            </div>
          </div>

          <div class="slide-s-screen">
            <div class="view-s-screen">
            <img src="images/energetique-nueva-carole-nogueira.jpg" class="image-s-screen" alt="cheval monte dans le van">
            </div>
            <div class="figcaption-s-screen scrollable">
              <h3>Soin énergétique</h3>
              <p>Il va permettre d’évacuer les énergies en les débloquant afin de faire circuler librement l’énergie
                dans tout le corps.
                Le corps va utiliser ses propres ressources pour déclencher une auto-guérison.
                On peut apercevoir immédiatement sur le cheval les signaux d’apaisement et de sérénité.
              </p>
            <div class="numbertext">10 / 10</div>
            </div>
          </div>

  </div>
  <!--Slides-->

  <!-- Indicators -->
  <ol class="portfolio-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="dot active" onclick="currentSlide(1, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="1" class="dot" onclick="currentSlide(2, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="2" class="dot" onclick="currentSlide(3, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="3" class="dot" onclick="currentSlide(4, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="4" class="dot" onclick="currentSlide(5, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="5" class="dot" onclick="currentSlide(6, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="6" class="dot" onclick="currentSlide(7, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="7" class="dot" onclick="currentSlide(8, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="8" class="dot" onclick="currentSlide(9, 1)"></li>
    <li data-target="#myCarousel" data-slide-to="9" class="dot" onclick="currentSlide(10, 1)"></li>
  </ol>
  <!--/.Indicators-->
</section>

<section class="media">
  <div class="media-video-social-container">

    <video id="horseVideo" controls preload="metadata" width="516" height="290">
      <source src="media/"
              type="video/webm">

      <source src="media/"
              type="video/ogv">

      <source src="media/"
              type="video/mp4">

      <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
          Voici <a href="">un lien pour télécharger la vidéo</a>.</p>
    </video>


    <div class="media-body">
      <div class="media-body-title">
        <h3>SUIVEZ-MOI SUR
          <br>LES RÉSEAUX SOCIAUX
        </h3>
      </div>

      <div class="media-social">
        <!--Facebook-->
        <a href="https://www.facebook.com/people/Carole-Nogueira/100004808293593" target="_blank" class="social-link" role="button">
          <img src="images/cn_facebook_white_social_media_icon.png" alt="facebook white icon">
        </a>
        <!--Instagram-->
        <a href="https://instagram.com/c.nogueiracomportementaliste?igshid=1hih564v3atbp" target="_blank" class="social-link" role="button">
          <img src="images/cn_instagram_social_white_media_icon.png" alt="instagram white icon">
        </a>
      </div>
    </div>

<section class="contact" style="background-image: url(images/horse_pasture_ocean_1400.jpg);">
  <div class="contact-container">
    <div class="contact-title">
      <h1>CONTACTEZ-MOI</h1>
      <p>Si vous avez des questions ou souhaitez des informations supplémentaires veuillez me contacter via le formulaire ci-dessous, par téléphone ou e-mail.
      </p>
    </div>

    <div class="form-info-container">

      <form action="https://formspree.io/mnqjyobo" method="POST" id="contact-form" class="form">
        <div class="form-guest">
          <!-- <label for="Firstname" data-error="wrong" data-success="right">Firstname</label> -->
          <input class="form-control-guest bottom" type="text" placeholder="Votre prénom" id="firstname" name="firstname" required="">
        </div>

        <div class="form-guest">
          <!-- <label for="Lastname" data-error="wrong" data-success="right"></label> -->
          <input class="form-control-guest bottom" type="text" placeholder="Votre nom" id="lastname" name="lastname" required="">
        </div>

        <div class="form-guest">
          <!-- <label for="exampleInputEmail1" data-error="wrong" data-success="right"></label> -->
          <input type="email" name="_replyto" class="form-control-guest validate" id="Email" aria-describedby="emailHelp" placeholder="Votre email" required="">
          <div id="emailHelp" class="form-text-mention">Je ne communiquerai jamais votre e-mail.</div>
        </div>

        <select class="form-control-guest bottom" id="subject department" searchable="Search here.." name="department" required="">
          <option value="" disabled selected>Choisissez un sujet</option>
          <option value="Communication animale">Communication animale</option>
          <option value="Soin énergetique">Soin énergetique</option>
          <option value="Clicker">Clicker</option>
          <option value="Atelier">Atelier</option>
          <option value="Autre demande">Autre demande</option>
        </select>

        <div class="form-guest">
          <!-- <label for="textarea" data-error="wrong" data-success="right"></label> -->
          <textarea class="form-control-guest bottom" type="text" name="message" placeholder="Ecrivez votre message ici" id="textarea" rows="4" required=""></textarea>
        </div>

        <div class="form-validate">
          <div class="status"></div>
          <button type="submit" class="btn btn-form-contact" onclick="validateForm();">ENVOYER</button>

        </div>


      </form>

      <div class="info-container">
        <div class="info-map">
          <div class="info">
            <img src="images/cn_phone_white_picto.png" alt="picto téléphone mobile" class="picto">
            <p>+33 6 50 07 63 04</p>
          </div>

          <div class="info">
            <!--email-->
            <a href="mailto:equin@carolenogueira.com" target="_blank" role="button">
              <img src="images/cn_email_white_picto.png" alt="picto courriel" class="picto">
              <p>equin@carolenogueira.com</p>
            </a>

          </div>

          <div class="info">
            <img src="images/cn_location_white_picto.png" alt="picto localisation carte" class="picto">
            <p>Route de la Corniche<br> 64122 Urrugne</p>
          </div>

        </div>

        <!--mapbox-->
        <div id="map">
        </div>

      </div>
    </div>
  </div>
</section>

<footer class="carole-nogueira-footer">
    <div class="senorita-angel-container">
      <div class="left">
        <p>Carole Nogueira </p>
          <img src="images/carole_nogueira_logo_white_28.png" alt="logo Comportementaliste équin blanc" id="cn-icon">
         <p> 2020</p>
      </div>

        <a class="right" href="https://senoritaangel.github.io/" target="_blank" role="button">
          <img src="images/chevron_left_white_24.png" alt="chevron left white" class="icon">
          <!-- <p> my heart goes</p> -->
          <img src="images/heart_code_white_36.png" alt="heart white" id="heart-icon">
          <img src="images/chevron_right_white_24.png" alt="chevron right white" class="icon">
          <p>by Señorita Angel</p>
        </a>

    </div>
  </footer>
