---
title: Carole Nogueira Comportementaliste Équin | Des solutions pour une meilleure communication
---

<section class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>
</section>

<section class="about">
  <div class="about-container">
    <div id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/oeil_nueva_carole_nogueira_1575.jpg);">
      lien
    </div>

    <div class="cards">
      <div class="card-about-infos">
        <h1>CAROLE
        <br>NOGUEIRA</h1>
      </div>

      <div class="card-about-infos">
        <h3>COMPORTEMENTALISTE
          <br>ÉQUIN</h3>
        <p>Certifiée et spécialisée dans l’équitation éthologique en R+, mon objectif est de vous accompagner et de <strong>vous transmettre les clés</strong> afin de retrouver et d’<strong>aboutir à une relation harmonieuse entre vous et votre cheval</strong>.
        <br>Avec des méthodes simples et innovantes je vous guide vers une autonomie d’équitation en conscience en fonction de vos objectifs.
        </p>
      </div>

      <div class="card-about-infos">
        <h3>SOINS ÉNERGÉTIQUES
          <br>CHEVAL/CAVALIER</h3>
        <p>Ils consistent à faire circuler l’énergie harmonieusement dans tout le corps.
        Equilibrer le flux énergétique va permettre d’enlever les nœuds et stress autant mental que physique, l’harmonisation et la revitalisation du corps va permettre d’initier un processus d’auto-guérison.</p>
      </div>

      <div class="card-about-infos">
        <h3>ATELIERS</h3>
        <p>J’organise des ateliers dans votre écurie ou centre équestre à la journée ou demi-journée pour 5 personnes minimum. Tarif sur devis.
        </p>
      </div>
    </div>
  </div>
</section>
