---
title: Carole Nogueira Comportementaliste Équin | Des solutions pour une meilleure communication
---

<section class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>
</section>
