---
title: Carole Nogueira Comportementaliste Équin | Mentions Légales
---

<div id="about">
  <section class="mentions-legales-content">
    <h3>Mentions légales</h3>
    <p>
      Les présentes conditions générales fixent les modalités d’utilisation du service web https://www.carolenogueira.com.

      L’utilisateur reconnait avoir pris connaissance de ce document et accepté l’ensemble de ces informations, que cet usage soit fait à titre personnel ou professionnel. Si cet usage est fait à titre professionnel, l’utilisateur garantit détenir les pouvoirs nécessaires pour accepter ces conditions générales au sein de son organisation.
    </p>

    <h3>Éditeur du site</h3>
    <p>
      Ce site est édité par Mme Carole Nogueira – 15 Allée Elgar, bat F - 64500 Saint Jean de Luz – France.
    </p>


    <h3>Hébergement</h3>
    <p>
      Ce site est hébergé par la société OVH, 12 rue Kellermann – 59100 Roubaix – France.
    </p>


    <h3>Responsabilité</h3>
    <p>
      L’éditeur du site met à disposition un contenu d’information gratuit. Il s’assure en permanence de mettre les moyens à sa disposition pour s’assurer de la qualité de ces contenus. Toutefois, il advient à l’utilisateur de s’assurer de la pertinence de ces informations au regard de sa situation. L’utilisateur s’engage donc à utiliser ces informations sous son entière responsabilité et dégage l’éditeur de toute responsabilité à cet égard.
    </p>

    <h3>Responsabilité dans l’utilisation du service</h3>
    <p>
      L’utilisateur s’engage à ne pas perturber le fonctionnement du service offert sur https://www.carolenogueira.com de quelque manière que ce soit.

      En particulier, l’utilisateur s’engage à s’abstenir de poster des messages illicites, diffamants ou insultants sur tout ou partie du site.

      L’utilisateur s’engage également à fournir des données personnelles véridiques, exactes et complètes.
    </p>

    <h3>Cookies</h3>
    <p>
      L’utilisateur est informé que des cookies peuvent s’installer sur son navigateur. Un cookie est un petit fichier que va déposer un site internet sur votre ordinateur pour y stocker des informations qui vous sont propres.

      Sur ce site, des cookies sont utilisés pour analyser son audience via le service Google Analytics, partager des informations sur les réseaux sociaux via le service AddThis et cibler de la publicité via la régie Google Adsense.

      Dans tous les cas l’utilisateur peut librement gérer et effacer ses cookies de son navigateur. Pour ce faire, vous pouvez suivre les liens suivants en fonction du navigateur utilisé : Google Chrome, Mozilla Firefox ou Windows Internet Explorer.
    </p>


    <h3>Traitements de données personnelles</h3>
    <p>
      Les traitements de données personnelles réalisés dans le cadre de ce site ont étés déclarés à la CNIL. L’ensemble de ces traitements est réalisé par l’éditeur du site.

      Pour chacun de ces traitements, l’utilisateur dispose d’un droit d’interrogation, d’accès, de modification, d’opposition et de rectification sur les données personnelles le concernant : il est possible de demander que ces données soient rectifiées, complétées, clarifiées, mises à jour ou effacées.

      <!-- En particulier, il est possible de se désinscrire de la newsletter du site grâce à un lien situé en bas de chaque email envoyé. -->

      Ces droits peuvent être exercés en écrivant à : carolenogueira.com – Mme Carole Nogueira – 15 Allée Elgar, bat F - 64500 Saint Jean de Luz ; en joignant à votre demande une photocopie de votre pièce d’identité.

      <!-- La newsletter du site a été déclarée à la CNIL (déclaration N°1787275 v 0). Sa finalité est de recevoir des conseils au travers de l’envoi d’emails d’information et/ou de promotion de produits ou services. Il est nécessaire de fournir son adresse email personnelle pour la recevoir. A défaut de cette information il sera impossible de s’inscrire à la newsletter. Les destinataires de ces traitements sont les personnes inscrites à la newsletter, l’éditeur du site et ses sous-traitants. -->
    </p>

    <h3>Propriété</h3>
    <p>
      Ce site est la propriété exclusive de l’éditeur. Le directeur de la publication est Mme Carole Nogueira.
    </p>

  </section>
</div>
